    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    .container{
      position: relative;
      height: 100vh;
      width: 100%;
      display: flex;
    }
    .background-image {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1;
      opacity: 0.4;
      top: 0;
      left: 0;
    }

    body {
      font-family: Arial, Helvetica, sans-serif;
      background-color: #f4f4f4;
      min-height: 100vh;
      display: flex;
    }
    .top_nav {
      width: 100%;
      height: 70px;
      background-color: rgb(190, 224, 235);
      color: rgb(17, 17, 17);
      padding: 10px 30px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 2;
    }

    .sidebar {
      width: 550px;
      color: #141414;
      padding: 20px;
      display: block;
      z-index: 2;
      background-color: rgb(190, 224, 235);
      margin-top: 70px;
    }

    .sidebar h2 {
      margin-bottom: 40px;
    }

    .sidebar ul {
      list-style-type: none;
    }

    .sidebar ul li {
      margin-top: 25px;
    }

    .sidebar ul li a {
      text-decoration: none;
      color: rgb(0, 0, 0);
    }
    .sidebar a:hover {
    background-color: rgb(236, 181, 110);
    color: white;
    padding: 5px;
  }

    .content {
      flex: 1;
      padding: 20px;
      display: flex;
      gap: 20px;
      position: relative;
      z-index: 2;
    }

    .premium_card, .policies_card, .insured_card, .claims_card {
      background-color: rgb(236, 181, 110);
      padding: 20px;
      border-radius: 12px;
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
      width: 250px;
      height: 200px;
      text-align: center;
      z-index: 2;
      margin-top: 60px;
    }
    @media (max-width: 768px) {
      .container {
        min-width: 80%;
        padding: 30px 20px;
      }
    }
