    body {
      margin: 0;
      height: 100vh;
      font-family: Arial, Helvetica, sans-serif;
      background: linear-gradient(120deg, #fddbb0, #b8e4f0);

    }

    select, input {
      width: 100%;
      padding: 10px;
      border-radius: 6px;
      border: 1px solid #999;
      font-size: 14px;
    }

    .container {
      width: 100%;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .card {
      background-color: rgb(158, 205, 220);
      padding: 40px 50px;
      border-radius: 25px;
      width: 75%;
      max-width: 1000px;
    }

    .form-row {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 30px;
    }

    button {
      margin-top: 30px;
      padding: 12px 30px;
      border-radius: 8px;
      border: none;
      background-color: #f7f1e3;
      font-size: 16px;
      cursor: pointer;
    }
